In [8]:
from fastcafa.fastcafa import *
logger = logging.getLogger() 
logger.setLevel(logging.WARN) 
config = get_default_config()

In [12]:
df = get_newannotated_df( config, limited=False, previous='2010',current='2019')
df

,pacc,pid,protein,species,goterm,goasp,goev,seqlen,seq,gene
0,A0AEZ6,YDJC_LISW6,YDJC,LISW6,GO:0016811,mf,IEA,245,MKIIFNADDFGISPGAVYGILESYKKGVVKSTTLLANSPAFDLAVE...,NaN
1,A0AEZ6,YDJC_LISW6,YDJC,LISW6,GO:0046872,mf,IEA,245,MKIIFNADDFGISPGAVYGILESYKKGVVKSTTLLANSPAFDLAVE...,NaN
2,A0AEZ6,YDJC_LISW6,YDJC,LISW6,GO:0000272,bp,IEA,245,MKIIFNADDFGISPGAVYGILESYKKGVVKSTTLLANSPAFDLAVE...,NaN
3,A0AIZ8,Y1562_LISW6,Y1562,LISW6,GO:0046872,mf,IEA,224,MLTSEISESEKPREKLQNYGIEALSSSELVALIIETGTKNESVLTI...,NaN
4,A0AIZ8,Y1562_LISW6,Y1562,LISW6,GO:0008237,mf,IEA,224,MLTSEISESEKPREKLQNYGIEALSSSELVALIIETGTKNESVLTI...,NaN
...,...,...,...,...,...,...,...,...,...,...
37918,Q9ZWC6,ATB_ARATH,ATB,ARATH,GO:0019005,cc,IBA,607,MEEVTRSVLAEEILKRLDLENLCSVACVSTTLRSAVVSGVLPSLTS...,ATB
37919,Q9ZWC6,ATB_ARATH,ATB,ARATH,GO:0016567,bp,IEA,607,MEEVTRSVLAEEILKRLDLENLCSVACVSTTLRSAVVSGVLPSLTS...,ATB
37920,Q9ZWC6,ATB_ARATH,ATB,ARATH,GO:0031146,bp,IBA,607,MEEVTRSVLAEEILKRLDLENLCSVACVSTTLRSAVVSGVLPSLTS...,ATB
37921,Q9ZWC6,ATB_ARATH,ATB,ARATH,GO:0006511,bp,IBA,607,MEEVTRSVLAEEILKRLDLENLCSVACVSTTLRSAVVSGVLPSLTS...,ATB
37922,Q9ZXI1,SCAF_BPAR1,SCAF,BPAR1,GO:0019012,cc,IEA,269,MLKEQLIAEAQKIDASVALDSIFESVNISPEAKETFGTVFEATVKQ...,22

In [15]:
df.groupby(by=['species','protein']).count()

                 pacc  pid  goterm  goasp  goev  seqlen  seq  gene
species protein
ACAM1   THF1        1    1       1      1     1       1    1     1
        Y1847       3    3       3      3     3       3    3     0
        Y5136       2    2       2      2     2       2    2     0
ACHLI   PSUG        4    4       4      4     4       4    4     4
        Y044        3    3       3      3     3       3    3     0
...               ...  ...     ...    ...   ...     ...  ...   ...
YERPY   YIDD        1    1       1      1     1       1    1     0
        YIHI        2    2       2      2     2       2    2     2
        ZAPD        3    3       3      3     3       3    3     3
ZYMMO   Y1337       2    2       2      2     2       2    2     0
        Y153        3    3       3      3     3       3    3     0

[10856 rows x 8 columns]

In [35]:
#newannotations = df.groupby(by='species').count()['protein']
newannotations = df.groupby(by='species').count()
newannotations.reset_index(inplace=True)
#newannotations.sort_values(ascending=False).nlargest(40)
newannotations[newannotations.species == "CANLF"]
#newannotations

    species  pacc  pid  protein  goterm  goasp  goev  seqlen  seq  gene
285   CANLF    66   66       66      66     66    66      66   66    66